<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="ExternalProxySection" type="Sesame.Communication.External.Client.ConfigSection.ExternalProxySection, Sesame.Communication.External.Client, Culture=neutral, PublicKeyToken=84d730ab7945ba26" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="DefaultRequestWaitTimeoutInMS" value="300000" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpEndpoint" hostNameComparisonMode="StrongWildcard" maxConnections="256" listenBacklog="25" transferMode="Buffered" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" portSharingEnabled="false" transactionFlow="false" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="Certificate" />
          </security>
          <!--security mode="Transport">
            <message clientCredentialType="None" />
            <transport clientCredentialType="Certificate" />
          </security-->
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="HttpEndpoint" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" hostNameComparisonMode="StrongWildcard" textEncoding="utf-8">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="HttpEndpoint" messageEncoding="Text" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" hostNameComparisonMode="StrongWildcard" textEncoding="utf-8">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <webHttpBinding>
        <binding name="WebEndpoint" hostNameComparisonMode="StrongWildcard" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Buffered" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" writeEncoding="utf-8" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <!-- localhost -->
      <endpoint address="http://localhost:37000/SesameExternalService/soap" binding="wsHttpBinding" bindingConfiguration="HttpEndpoint" behaviorConfiguration="ClientCertificateBehavior" contract="Sesame.Communication.External.Contracts.IExternalServicePoolingMode" name="HttpEndpointForPoolingMode">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:37003/SesameExternalService/tcp" binding="netTcpBinding" bindingConfiguration="TcpEndpoint" behaviorConfiguration="ClientCertificateBehavior" contract="Sesame.Communication.External.Contracts.IExternalServicePoolingMode" name="TcpEndpointForPoolingMode">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:37000/SesameExternalService/json" binding="webHttpBinding" bindingConfiguration="WebEndpoint" behaviorConfiguration="ClientCertificateBehaviorJson" contract="Sesame.Communication.External.Contracts.IExternalServicePoolingMode" name="WebEndpointForPoolingMode">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:37005/SesameExternalService/soap" binding="wsDualHttpBinding" bindingConfiguration="HttpEndpoint" behaviorConfiguration="ClientCertificateBehavior" contract="Sesame.Communication.External.Contracts.IExternalServiceCallbackMode" name="HttpEndpointForCallbackMode">
        <!--identity>
          <dns value="localhost" />
        </identity-->
      </endpoint>
      <endpoint address="net.tcp://localhost:37008/SesameExternalService/tcp" binding="netTcpBinding" bindingConfiguration="TcpEndpoint" behaviorConfiguration="ClientCertificateBehavior" contract="Sesame.Communication.External.Contracts.IExternalServiceCallbackMode" name="TcpEndpointForCallbackMode">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--clientCredentials>
            <clientCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials-->
        </behavior>
        <behavior name="ClientCertificateBehaviorJson">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--clientCredentials>
            <clientCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials-->
          <webHttp automaticFormatSelectionEnabled="false" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <ExternalProxySection>
    <CategoryPropertyItems>
      <add id="KeepAlivePeriodMilliseconds" entryValue="30000" />
      <add id="RetryCount" entryValue="10" />
      <add id="RetryCountIntervalMilliseconds" entryValue="3000" />
    </CategoryPropertyItems>
  </ExternalProxySection>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\LogFiles\NETFwConsoleAppWithServerCalls.log" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <category name="Forge">
      <priority value="Debug" />
    </category>
    <category name="ASPNETMVCWithServerCalls">
      <priority value="Debug" />
    </category>
  </log4net>
  
</configuration>