<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Forge.Base" version="1.0.24" targetFramework="net48" />
  <package id="Forge.Logging.Log4Net" version="1.0.1" targetFramework="net48" />
  <package id="Forge.Persistence" version="1.0.10" targetFramework="net48" />
  <package id="log4net" version="2.0.10" targetFramework="net48" />
  <package id="Sesame.Communication.Data" version="1.0.0" targetFramework="net48" />
  <package id="Sesame.Communication.External.Client" version="1.0.0" targetFramework="net48" />
  <package id="Sesame.Communication.External.Contracts" version="1.0.0" targetFramework="net48" />
</packages>